
<!DOCTYPE html>
<html>
  <head>
    <title>About Me</title>
  </head>
  <body>
    <h1>Dellinger, William</h1>
    <p>I love to cook and bake, I bowled competitively in highschool, and I love to go backpacking. I am pursuing a degree in Computer Science
      because I am fascinated with how software is made and betters our lives.
    </p>
    <h2>My Professional Profile</h2>
    <a href="https://github.com/wide9510">William's Github</a> <br> <br>
    <img src="../resources/img/william.jpg" alt="picture of me" height="300px" width="250px">
    <h3>My Favorite Projects</h3>
    <table border="1">
			<tr>
        <th> Name of the Project</th><th> Technologies Used</th>
			</tr>
			<tr>
        <td>Oregon Trail</td><td>C++</td>
      </tr>
			<tr>
          <td>NBA Stats</td><td>C++,QT Creator</td>
			</tr>
			<tr>
          <td>Website</td><td>HTML,CSS</td>
			</tr>
    </table>
    <h3>Countries Traveled</h3>
    <ul>
        <li>Mexico</li>
        <li>Canada</li>
        <li>Greece</li>
        <li>Italy</li>
      </ul>
      <h3>Interests</h3>
      <ol>
          <li>Climbing</li>
          <li>Music</li>
          <li>Technology</li>
        </ol>
  </body>
</html>
